.react-datepicker__input-container {
    border: 2px solid #dce0e4;
    border-radius: 10px;
}

.ant-picker {
    height: 54px;
}

.react-datepicker-wrapper input {
    height: 50px;
    margin-top: 0px;
    border-radius: 9px;
    width: -webkit-fill-available;
    padding: 5px;
    border-color: #e5e8eb;
    border: 2px #dce0e4
}

.ant-picker-datetime-panel {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .ant-picker-datetime-panel {
        flex-direction: row;
    }
}





.css-dev-only-do-not-override-17sses9.ant-picker-focused.ant-picker,
.ant-picker-focused.ant-picker,
.ant-picker:hover,
.ant-picker:active,
.ant-picker:target,
.ant-picker:focus {
    border-color: black;
}

.ant-picker .ant-picker-input>input {
    color: #1b1c1c;
    font-family: 'Public Sans';
}

.css-dev-only-do-not-override-17sses9.ant-picker,
.ant-picker {
    border-radius: 7px;
    border: 1px solid #dce0e4;
}

.css-dev-only-do-not-override-17sses9.ant-picker .ant-picker-input>input::placeholder,
.ant-picker .ant-picker-input>input::placeholder {
    color: #96a2af;
}

.react-international-phone-country-selector-button {
    height: 56px !important;
    width: 56px !important;
}